

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"  (click)="openNew(); "></button>
                        <!-- <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                 <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            <!-- AQUI SE DELARA LO QUE VIENE DE LA LISTA DE MI FUNCION DE TS <p-table #dt [value]="user"  -->
            <p-table #dt [value]="user" 
            [columns]="cols" 
            responsiveLayout="scroll" 
            [rows]="10" 
            [globalFilterFields]="['strEmpleado']" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true" 
            currentPageReportTemplate="Mostar {first} a {last} de {totalRecords} empleados" 
            
            [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Empleados</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar empleado..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
              
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th pSortableColumn="strEmpleado">Usuario <p-sortIcon field="strEmpleado"></p-sortIcon></th>
                        <th pSortableColumn="strNombre">Nombre </th>
                        <th pSortableColumn="strPuesto">Puesto </th>
                        <th pSortableColumn="strTelefono">Telefono </th>
                        <th pSortableColumn="strEmail">Correo </th>
                        <th pSortableColumn="inventoryStatus">Estatus </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user  >
                    <tr >
                        <td>
                            <!-- <p-tableCheckbox [value]="user"></p-tableCheckbox> -->
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Empleado</span>
                            {{user.strEmpleado}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{user.strNombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Puesto</span>                           
                            {{user.strPuesto}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Telefono</span>
                            {{user.strTelefono}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Correo</span>
                            {{user.strEmail}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estatus</span>
                            <span [class]="'product-badge status-' + (user.estatus ? user.estatus.toLowerCase() : '')">{{user.estatus}}</span>
                           
                        </td>
                       
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Estatus</span>
                            <span [class]="'product-badge status-' + (user.Estatus ? user.Estatus.toLowerCase() : '')">{{user.Estatus}}</span>
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="fnUpdateEmpleado(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
              
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Empleados" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">             
                <div class="field">
                    <label for="usuario">Usuario</label>
                    <input type="text" pInputText id="usuario" [(ngModel)]="user1.strEmpleado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strEmpleado}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strEmpleado">Usuario es requerido.</small>
                </div>
                <div class="field">
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="user1.strNombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.strNombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strNombre">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="correo">Correo</label>
                    <input type="text" pInputText id="correo" [(ngModel)]="user1.strEmail" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strEmail}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strEmail">Correo es requerido.</small>
                </div>
                <div class="field">
                    <label for="telefono">Telefono</label>
                    <input type="text" pInputText id="telefono" [(ngModel)]="user1.strTelefono" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strTelefono}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strTelefono">Telefono es requerido.</small>
                </div>                               
                <div class="field">
                    <label for="puesto">Puesto</label>
                    <p-dropdown 
                        [options]="listPuestoR" 
                        [(ngModel)]="user1.intPuesto" 
                        optionLabel="strPuesto"
                        optionValue="intPuesto"
                        [showClear]="true"
                        placeholder="--------SELECCIONE---------" />
                </div>
                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="1" [(ngModel)]="user1.strEstatus"></p-radioButton>
                            <label for="estatus">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="0" [(ngModel)]="user1.strEstatus"></p-radioButton>
                            <label for="estatus">Baja</label>
                        </div>
                       
                    </div>
                </div>

                      
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)=" fnAddEmpleados(user1)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Empleados" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">             
                <div class="field">
                    <label for="usuario">Usuario</label>
                    <input disabled type="text" pInputText id="usuario" [(ngModel)]="user1.strEmpleado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strEmpleado}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strEmpleado">Usuario es requerido.</small>
                </div>
                <div class="field">
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="user1.strNombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.strNombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strNombre">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="correo">Correo</label>
                    <input type="text" pInputText id="correo" [(ngModel)]="user1.strEmail" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strEmail}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strEmail">Correo es requerido.</small>
                </div>
                <div class="field">
                    <label for="telefono">Telefono</label>
                    <input type="text" pInputText id="telefono" [(ngModel)]="user1.strTelefono" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strTelefono}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user1.strTelefono">Telefono es requerido.</small>
                </div>                               
                <div class="field">
                    <label for="puesto">Puesto</label>
                    <p-dropdown 
                        [options]="listPuestoR" 
                        [(ngModel)]="user1.intPuesto" 
                        optionLabel="strPuesto"
                        optionValue="intPuesto"
                        [showClear]="true"
                        placeholder="--------SELECCIONE---------" />
                </div>
                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="1" [(ngModel)]="user1.strEstatus"></p-radioButton>
                            <label for="estatus">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="0" [(ngModel)]="user1.strEstatus"></p-radioButton>
                            <label for="estatus">Baja</label>
                        </div>
                       
                    </div>
                </div>

                      
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideUserDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)=" fnUpdateEmpleados(user1)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">¿Estas seguro de eliminar el empleado<b>{{user.strNombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
