

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
              

                <ng-template pTemplate="right">
                 <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                
                </ng-template>
            </p-toolbar>
            <!-- AQUI SE DELARA LO QUE VIENE DE LA LISTA DE MI FUNCION DE TS <p-table #dt [value]="user"  -->
            <p-table #dt [value]="client" 
            [columns]="cols" 
            responsiveLayout="scroll" 
            [rows]="10" 
            [globalFilterFields]="['strClient']" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true" 
            currentPageReportTemplate="Show {first} to {last} of {totalRecords} Clients" 
            
            [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Clients</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search client..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
              
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th pSortableColumn="intClient">Client Id <p-sortIcon field="intClient"></p-sortIcon></th>
                        <th pSortableColumn="FullName">Full Name </th>
                  
                        <th pSortableColumn="phone">Phone </th>
                        <th pSortableColumn="email">Email </th>
                        <th pSortableColumn="strCity">City</th>
                        <th pSortableColumn="date">Date</th>
                        <th pSortableColumn="actions">Actions</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-client  >
                    <tr >
                        <td>
                            <!-- <p-tableCheckbox [value]="user"></p-tableCheckbox> -->
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Client Id</span>
                            {{client.intClient}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Full Name</span>
                            {{client.strFullName}}
                        </td>
                     
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Phone</span>
                            {{client.strPhone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{client.strEmail}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">City</span>
                            {{client.strCityName}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Date</span>
                            {{client.datDateUp}}
                        </td>
                      
                       
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Estatus</span>
                            <span [class]="'product-badge status-' + (user.Estatus ? user.Estatus.toLowerCase() : '')">{{user.Estatus}}</span>
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" (click)="fnViewClient(client)"></button>
                                <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
              
            </p-table>
        </div>

       

        

        <p-dialog [(visible)]="clientViewDialog" [style]="{width: '40%'}" header="View Client" [modal]="true" class="p-fluid" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content">             
                         
                

                <div class="flex space-x-4">
                    <div class="field w-full mr-7">
                        <label for="nombre">Name</label>
                        <input type="text" disabled pInputText id="strName" [(ngModel)]="client1.strFullName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.strFullName}"/>
                        
                    </div>
                    <div class="field w-full">
                        <label for="correo">Last Name</label>
                        <input type="text"  disabled pInputText id="strlastName" [(ngModel)]="client1.strLastName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strLastName}"/>
                     
                    </div>
                </div>

                <div class="flex space-x-4">
                    <div class="field w-full mr-7">
                        <label for="nombre">Phone</label>
                        <input type="text" disabled pInputText id="strName" [(ngModel)]="client1.strPhone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.strPhone}"/>
      
                    </div>
                    <div class="field w-full">
                        <label for="correo">Email</label>
                        <input type="text" disabled pInputText id="strEmail" [(ngModel)]="client1.strEmail" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user1.strCityName}"/>
            
                    </div>
                </div>

                <div class="flex space-x-4">
                    <div class="field w-full mr-7">
                        <label for="correo">City</label>
                        <input type="text"  disabled pInputText id="strEmail" [(ngModel)]="client1.strCityName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client1.strCityName}"/>
          
                    </div>
                    <div class="field w-full mr-7">
                        <label for="nombre">Zip</label>
                        <input type="text"  disabled pInputText id="intCP" [(ngModel)]="client1.intCP" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client1.strFullName}"/>
                
                    </div>
                    <div class="field w-full">
                        <label for="correo">Method payment</label>
                        <input type="text" disabled pInputText id="strPaymentMethod" [(ngModel)]="client1.strPaymentMethod" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client1.strPaymentMethod}"/>
                
                    </div>
                </div>

                <div class="flex space-x-4">
                    <div class="field w-full mr-7">
                        <label for="nombre">Address</label>
                        <input type="text" disabled pInputText id="strName" [(ngModel)]="client1.strAdress" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client1.strAdress}"/>
                 
                    </div>
                   
                </div>

                

                <div class="flex space-x-4">
                    <div class="field w-full mr-7">
                        <label for="nombre">References</label>
                        <input type="text" disabled pInputText id="strName" [(ngModel)]="client1.strReferences" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client1.strReferences}"/>
                 
                    </div>
                    
                </div>

               
                
                
                                      
               
               
                                 
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" ></button>
               
            </ng-template>
        </p-dialog>


    </div>
</div>
