<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nueva Categoria" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>

                    <div class="my-2">
                        <button pButton pRipple label="Ver SubCategorias" icon="pi pi-eye" class="p-button-success mr-2" (click)="verSubCategorias()"></button>
                    </div>
                </ng-template>

                

                <ng-template pTemplate="right">
                 <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="categoria" 
            [columns]="cols" 
            responsiveLayout="scroll" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Categorias</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar producto..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                                              
                        <th pSortableColumn="name">Nombre </th>
                        <th pSortableColumn="name">Descripcion </th>
                        <th>Imagen</th>                                            
                        <th pSortableColumn="inventoryStatus">Estatus</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categoria>
                    <tr>                       
                       
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{categoria. strNombreCategoria}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Descripcion</span>
                            {{categoria.strDescripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
                            <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /> -->
                        </td>
                      
                                              
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estatus</span>
                            <span [class]="'product-badge status-' + (categoria.estatus ? categoria.estatus.toLowerCase() : '')">{{categoria.estatus}}</span>
                           
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="fnUpdateCategorias(categoria)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="categoriaModal" [style]="{width: '450px'}" header="Detalles de la categoria" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="categoria1.strNombreCategoria" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !categoria1.strNombreCategoria}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !categoria1.strNombreCategoria">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="categoria1.strDescripcion" required rows="3" cols="20"></textarea>
                </div>

                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="1" [(ngModel)]="categoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="0" [(ngModel)]="categoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Baja</label>
                        </div>
                       
                    </div>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="fnAddCategorias(categoria1)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="categoriaUpdateModal" [style]="{width: '450px'}" header="Actualizar categoria" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="categoria1.strNombreCategoria" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !categoria1.strNombreCategoria}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !categoria1.strNombreCategoria">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="categoria1.strDescripcion" required rows="3" cols="20"></textarea>
                </div>

                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="1" [(ngModel)]="categoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="0" [(ngModel)]="categoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Baja</label>
                        </div>
                       
                    </div>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideModalUpdate()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="fnAddCategorias(categoria1)"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="subcategoriaModal" [style]="{ width: '55rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" header="SubCategorias" [modal]="true" class="p-fluid">
            <p-table #dt [value]="subcategoria" 
            [columns]="cols" 
            responsiveLayout="scroll" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">SubCategorias</h5>
                      
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                                              
                        <th pSortableColumn="name">Nombre </th>
                        <th pSortableColumn="name">Descripción </th>        
                        <th pSortableColumn="name">Categoria </th>                                                                 
                        <th pSortableColumn="inventoryStatus">Estatus</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subcategoria>
                    <tr>                       
                       
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{subcategoria.strNombreSubCategorias}}         
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{subcategoria.strDescripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{subcategoria.strNombreCategoria}}
                        </td>
                      
                                              
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estatus</span>
                            <span [class]="'product-badge status-' + (subcategoria.estatus ? subcategoria.estatus.toLowerCase() : '')">{{subcategoria.estatus}}</span>
                           
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="fnUpdateCategorias(categoria)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideSubCatVerDialog()"></button>
                <button pButton pRipple label="Agregar SubCategoria" icon="pi pi-plus" class="p-button-info" (click)="addSubCategorias()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="subCategoriaAddModal" [style]="{width: '550px'}" header="Agregar SubCategoria" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="subcategoria1.strNombreSubCategoria" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !categoria1.strNombreCategoria}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !subcategoria1.strNombreSubCategoria">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="subcategoria1.strDescripcion" required rows="3" cols="20"></textarea>
                </div>

                

            <div class="field">
                <label for="categoria">Categorias</label>
                <p-dropdown 
                    [options]="listCategoriasSub" 
                    [(ngModel)]="subcategoria1.intCategorias" 
                    optionLabel="strNombreCategoria"
                    optionValue="intCategorias"
                    placeholder="--------SELECCIONE---------"
                    [virtualScroll]="true"
                    [style]="{'width': '300px'}"
                    [virtualScrollItemSize]="38" />
                </div>

                <div class="field">
                    <label class="mb-3">Estatus</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="1" [(ngModel)]="subcategoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Activo</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="estatus" name="chkestatus" value="0" [(ngModel)]="subcategoria1.strEstatus"></p-radioButton>
                            <label for="estatus">Baja</label>
                        </div>
                       
                    </div>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideSubCatAddDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="fnAddSubCategorias(subcategoria1)"></button>
            </ng-template>
        </p-dialog>

       
    </div>
</div>
